.fmain{
    position: absolute;
    margin: 100px 0;
    border:1px solid #1C2F57;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    background-color: #FAF6F0;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}
.fmain text{
    margin-left: 15px;
    margin-top: 30px;
    width: 22%;
    height: 30px;
    font-size: 15px;
    color: gray;
    background-color: #FAF6F0 ;
    cursor: pointer;
    border: none;
}
.btnbox {
    display: flex;
    justify-content: center;
    gap: 30px;
}