.overseas-main *{
    margin: 0;
    padding: 0;
}
.overseas-main{
    width: 1200px;
    background-color: #FAF6F0;
    border-radius: 10px;
}

.overseas-main h2{
    text-align: center;
}
.conutry-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conutry-list p{
    padding: 18px; 
    font-size: 20px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;  
    background-color: #F5EBDD; 
    color: #2b2b2b; 
}
.conutry-list :first-child{
    border-left: 1px solid #000;
}
.conutry-display ul{
    display: flex;
    flex-wrap: wrap;
}
.conutry-display a{
    text-decoration: none;
    color: #2B2B2B;
}

.conutry-display li{
    list-style: none;
    margin: 10px;
}
.conutry-display img{
    width: 250px;
    height: 250px;
}