.package-main{
    color: #2B2B2B;
    width: 1100px;
    margin: 0 auto;
}
.package-main a{
    text-decoration: none;
    padding: 0 10px;
    background-color: #E8D8C3;
    color: #243B6B; 
    margin: 0 5px;

}
.package-main a:hover{
    background-color :  #E8D8C3;
    color: #243B6B;

}