.packageinfo-main *{
    margin: 0 auto;
    padding: 0;
}


.packageinfo-main {
    margin: 50px auto;
    padding: 20px 0;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.packageinfo-header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.packageinfo-header img{
    width: 300px;
    height: 300px;
}
.packageinfo-header div{
    margin-left: 10px;
}