.package-main{
    color: #2B2B2B;
    width: 1100px;
    margin: 0 auto;
}
.package-headerlink{
    text-decoration: none;
    padding: 0 10px;
    background-color: #F5EBDD;
    color: #2b2b2b; 
    margin: 0 5px;
}
.package-headerlink:hover{
    color:#ffff;
    background-color: #E8D8C3;
}

